<div class= 'header'>
  <div class= 'title'>
    <h1><%= link_to 'Taxonomista', projects_path %></h1> 
  </div> 

</div>

<div class= 'cadastro'>
  <div class= 'cadastro-title'>
    <h1>Novo Projeto</h1>
  </div>
  
  <%= form_for(@project) do |t| %>
    <% if @project.errors.any? %>
      <div class= 'cadastro-error'>
        <h6><%= @project.errors.full_messages.first%></h6>
      </div>
    <% end %>

    <div class= "cadastro-field1">
      <div class= "cadastro1-label">
        <%= t.label "Nome do Projeto"%>
      </div>
      <div class= "cadastro1-input">
        <%= t.text_field :name %>
      </div>
    </div>

    <div class= 'cadastro-field2'>
      <div class= "cadastro2-label">
        <%= t.label 'URL do projeto' %>
      </div>
      <div class= "cadastro2-input">
        <h3>.git</h3><%= t.text_field :url %>
      </div>
    </div>  

    <div class= "cadastro-buttons">
      <div class= 'back-button'>
        <%= link_to 'Voltar', projects_path %>
      </div>
      <%= t.submit 'Cadastrar Projeto' %>
    </div>

  <% end %>

</div>

