<%= render partial: 'tabs/header' %>
<%= render partial: 'tabs/project_info', locals:{project: @project} %>

<div class="tab-tabs">
  <%= link_to '+', new_tab_path(@project), id: 'nova-aba'%>

  <% @project.tabs.each do |tab| %>
    <%= link_to tab.name, tab_path(project_name: @project.name, tab_name: tab.name), class: tab_css_class(tab) %>
  <% end %>
</div>

<% if @tab %>
  <div class= "destroy-tab">
    <%= link_to "X", destroy_tab_url(@project.name, @tab.name), method: :delete, data: {confirm: 'Deseja mesmo excluir?'} %>
  </div>

  <div class= "kramdown-render">
    <%= kramdown(@tab.html).html_safe %>
  </div>
<% end %>